@model LetishteNet5.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreePassengersSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreePassengersSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeBusinessSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeBusinessSeats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
